<!DOCTYPE html>
<html>
<head>
    <title>New Matches</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="form-page" style="background: {{ bg_color }};">

<div class="form-container" style="text-align:center;">
    <div class="match-card">

        <img src="/static/avatars/{{ avatar }}" class="match-avatar">

        <h2 class="role">New Match Found!</h2>
        <p>Your updated match has been emailed to you.</p>

        <a href="/" class="home-btn">Home</a>
    </div>
</div>

</body>
</html>
